{% extends "base.html" %}

{% block content %}
<div>
  <h1>Привет, {{ cur.name }}</h1>
  <h2>Ваши посты:</h2>
  {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
</div>
{% endblock %}